header {
	background: url("../../assets/header_background.jpg");
	background-size: 1440px 961px;
	background-position: min(calc((100vw - 1440px) / 2), 0px) calc((-961px + 576px) / 2);
	max-width: 1440px;
	height: 576px;
	border: 1px solid D1D2D6;
}

header::before {
	display: inline-block;
	content: "";
	position: relative;
	top: 0;
	left: 0;
	width: 1440px;
	height: 576px;
	background: #00000080;
}

.header__content {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 608px;
	top: -496px;
	left: calc((min(100vw, 1440px) - 608px) / 2);
}

.header__title {
	font-family: "roboto-slab-400-regular";
	font-weight: 400;
	font-size: 60px;
	line-height: 64px;
	letter-spacing: 0px;
	max-width: 608px;
	margin: 80px 0 0 0;
	color: white;
}

.header__subtitle {
	font-family: "roboto-slab-400-regular";
	font-weight: 400;
	color: white;
	font-size: 18px;
	line-height: 24px;
	margin: 32px 0 0 0;
	letter-spacing: 0px;
}

.header__search {
	border: none;
	margin: none;
	padding: none;
	outline: none;
	width: 608px;
	height: 64px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin: 64px 0 0 0;
	border-radius: 33px;
}

.header__search-input {
	width: 500px;
	background: none;
	border: none;
	outline: none;
	margin-left: 24px;
	font-family: "roboto-400-regular";
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0px;
}

.header__search-button {
	background-color: #357EFF;
	border: none;
	outline: none;
	height: 64px;
	width: 168px;
	border-radius: 33px;
	font-family: "roboto-500";
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0px;
	color: white;
}

